body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A9FF;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-nav .nav-item a:hover { 
  background: #77C8FE;
}

.navbar-nav .nav-item a {
  color: #fff;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}
/* Untuk header */
@media (min-width: 768px) {
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar-nav .nav-item a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .text-light h2 {
    margin-left: 20px;
    width: auto;
  }

  .text-light h3,
  .text-light h4,
  .text-light p {
    padding-left: 20px;
  }

}


/*carousel*/
.carousel {
    width: 100%;
    margin: auto;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    background: none;
    border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}

.carousel-item img {
    max-height: 649px;
    object-fit: cover;
}

.list {
    padding: 20px;
    background: linear-gradient(90deg, #00a9ff 0%, #e6e8ff 100%);
}

/*About Us*/
.data {
    background-color: #fff;
    padding: 30px;
}
/*kiri*/
.kiri{
    padding: 20px;
}
.kiri .dua {
    text-align: center;
    background: rgba(217, 217, 217, 0.22);
    overflow-y: scroll;
}

.dua h1 {
    background: #00A9FF;
}

.dua hr {
    padding: 34px;
}
/*kanan*/
.kanan {
    padding: 20px;
}

.kanan .one {
    text-align: center;
    background: #FFFFFF;

    margin-bottom: 30px;
}

.kanan h3 {
    padding: 20px;
    padding-left: 30px;
    text-align: left;
}

.kanan .two {
    text-align: left;
    background: #FFFFFF;

    margin-bottom: 30px;
}
.two h1{
    background: #00A9FF;
}
.two iframe{
    padding: 20px;
    margin-left: 190px;
}


/*Informasi/Kontak(footer)*/

/*Informasi/Kontak(footer)*/

/*Informasi/Kontak(footer)*/
footer{
  background-color: #00A9FF;
}
.kontak {
  margin: 30px;
}

.box {
  background: rgba(217, 217, 217, 0.25);
  padding: 15px;
  color: #fff;
}
.box .tautan{
  display: flex;
}
.tautan .link {
  padding-right: 50px;
}
.box .sosmed{
  margin-bottom: 30px;
}
.up .info {
  text-align: left;
  display: flex;
}

.up h2 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline black;
}

.up h4 {
  font-size: 30px;
}

.icon {
  margin-bottom: 58px;
  font-size: 3.5rem;
}

/*android*/
@media only screen and (max-width : 768px){
  .up h2{
    font-size: 25px;
  }
  .up h4{
    font-size: 18px;
  }
  .icon{
    font-size: 2.8rem;
  }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 767px) and (max-width : 992px){
  .up h2{
    font-size: 32px;
  }
  .up h4{
    font-size: 25px;
  }
}

/*dekstop*/
@media only screen and (min-width : 1300px){
  .up h2{
    font-size: 2.8rem;
  }
  .up h4{
    font-size: 2.3rem;
  }
}
/*footer*/
.footer {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content:flex-start;
}

.footer i {
  font-size: 4rem;
}

.footer h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.footer .info {
  display: flex;
  flex-direction: row;
}

/*android*/
@media only screen and (max-width : 768px) {
  .footer{
      padding: 10px;
  }
  .footer i {
      font-size: 2.5rem;
  }

  .footer h4 {
      font-size: 15px;
  }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 767px) and (max-width : 992px) {
  .footer h4 {
      font-size: 15px;
  }
  .footer i {
      font-size: 3rem;
  }
  .footer h4 {
      font-size: 17px;
  }
}

/*dekstop*/
@media only screen and (min-width : 1300px) {
  .footer h4 {
      font-size: 20px;
  }
  .footer i {
      font-size: 3.5rem;
  }
}