body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-style: normal;
}

/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A9FF;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
  background: #77C8FE;
}

.navbar-nav .nav-item a {
  color: #fff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

/* Untuk header */
@media (max-width: 768px) {
  .logo img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }

  .logo {
      font-size: 20px;
  }

  .navbar-nav .nav-item a {
      font-size: 14px;
      padding: 5px 8px;
  }

  .text-light h2 {
      margin-left: 20px;
      width: auto;
  }

  .text-light h3,
  .text-light h4,
  .text-light p {
      padding-left: 20px;
  }

  .shape {
      width: 300px;
      height: 250px;
  }
}


/*carousel*/
.carousel {
  width: 100%;
  margin: auto;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  background: none;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
}

.carousel-item img {
  max-height: 649px;
  object-fit: cover;
}

.list {
  padding: 20px;
  background-color: #00A9FF;
}

/*About Us*/
.about{
  padding: 40px;
}
.left .one, .right .two, .right .three{
  text-align: center;
  background: rgba(217, 217, 217, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.left h1, .three h1{
  background: #00A9FF;
}
.left p {
  text-align: start;
  margin-left: 1rem;
}
.left a{
  text-decoration: none;
  color: #333;
}
.left a:hover{
color: #5e08fd;
text-decoration: underline;
}
.left .one{
  height: 100%;
}
.right .two h4{
  text-align: left;
  padding: 25px;
}
.two{
  margin-bottom: 40px;
}
.right i{
  font-size: 2rem;
}
.three iframe{
  width: 100%;
  padding: 20px;
}
/*android*/
@media only screen and (max-width : 600px){
  .about{
      padding: 15px;
  }
  .left h1, .two h1,.three h1{
   font-size: 1rem;
  }
  

  .right .two h4{     
      padding: 5px;
      font-size: 0.7rem;
  }
  .two{
      margin-bottom: 15px;
  }
  .right i{
      font-size: 0.8rem;
  }
  .three iframe{
      padding: 8px;
      height: auto;
  }
  .left p {
    font-size: 0.4rem;
    margin-left: 0.2rem;
  }
  .left hr{
    padding-inline: 0%;
    
  }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 601px) and (max-width : 992px){
  .about{
      padding: 25px;
  }
  .left h1, .two h1,.three h1{
   font-size: 1.4rem;
  }
  .left hr{
      padding: 18px;
  }
  .right .two h4{     
      padding: 14px;
      font-size: 1rem;
  }
  .two{
      margin-bottom: 25px;
  }
  .right i{
      font-size: 1.3rem;
  }
  .three iframe{
      padding: 12px;
      height: auto;
  }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .about{
      padding: 35px;
  }
  .left h1, .two h1,.three h1{
   font-size: 1.8rem;
  }
 
  .right .two h4{     
      padding: 18px;
      font-size: 1.6rem;
  }
  .two{
      margin-bottom: 35px;
  }
  .right i{
      font-size: 1.7rem;
  }
  .three iframe{
      padding: 16px;
      height: auto;
  } 
}


        .chat-bubble {
            border-radius: 15px;
            padding: 10px;
            margin: 10px 0;
          
        }
        .chat-bubble.user {
          background-color: #b9bbbe80;
          width: max-content;
        
        }
        .chat-bubble.admin {
          background-color: #b9bbbe80;
        }


/*Informasi/Kontak(footer)*/
footer {
  background-color: #00A9FF;
}

.kontak {
  margin: 30px;
}

.box {
  background: rgba(217, 217, 217, 0.25);
  padding: 15px;
  color: #fff;
}
.tautan h6{
  font-size: 1.7rem;
}
.tautan a{
  text-decoration: none;
  color: white;
}
.box .tautan {
  display: flex;
}

.tautan .link {
  padding-right: 50px;
}

.box .sosmed {
  margin-bottom: 30px;
}
.box a {
  text-decoration: none;
  color: white;
}

.up .info {
  text-align: left;
  display: flex;
}

.up h2 {
  font-size: 40px;
  font-weight: bold;
  /* text-decoration: underline rgb(255, 255, 255); */
}

.up h4 {
  font-size: 30px;
}

.icon {
  margin-bottom: 58px;
  font-size: 3.5rem;
}
.box .garis{
  margin-top: 3rem;
}

/*android*/
@media only screen and (max-width : 767px) {
  .up h2 {
      font-size: 25px;
  }

  .up h4 {
      font-size: 18px;
  }

  .icon {
      font-size: 2.4rem;
  }
  .tautan h6{
    font-size: 1rem;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .up h2 {
      font-size: 32px;
  }

  .up h4 {
      font-size: 25px;
  }
  .tautan h6{
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .up h2 {
    font-size: 35px;
}

.up h4 {
    font-size: 27px;
}
.icon {
  font-size: 2.4rem;
}
.tautan h6{
  font-size: 1.4rem;
}
}
/*footer*/
.footer {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.footer i {
  font-size: 4rem;
}

.footer h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.footer .info {
  display: flex;
  flex-direction: row;
}
.info .garis1{
  margin-left: 12.2rem;
}
.info .garis2{
  margin-left: 3rem;
}

/*android*/
@media only screen and (max-width : 767px) {
  .footer {
      padding: 10px;
  }

  .footer i {
      font-size: 2.5rem;
  }

  .footer h4 {
      font-size: 15px;
  }
  .info .garis1, .info .garis2{
    display: none;
  }
  .copyright div{
    font-size: 10px;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .footer {
    padding: 13px;
}
  .footer h4 {
      font-size: 15px;
  }

  .footer i {
      font-size: 3rem;
  }

  .footer h4 {
      font-size: 17px;
  }
  .info .garis1, .info .garis2{
    display: none;
  }
}
/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1195px){
  .footer {
    padding: 15px;
}
  .footer h4 {
    font-size: 15px;
}

.footer i {
    font-size: 3.7rem;
}

.footer h4 {
    font-size: 17px;
}
.info .garis1{
  margin-left: 6rem;
}
.info .garis2{
  margin-left: 1rem;
}
}