body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #b3b3b3; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #023768;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
    background: #2d5d7d;
}

.navbar-nav .nav-item a {
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 10px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar-nav .nav-item a {
        font-size: 20px;
        padding: 5px 8px;
    }

    .text-light h2 {
        margin-left: 20px;
        width: auto;
    }

    .text-light h3,
    .text-light h4,
    .text-light p {
        padding-left: 20px;
    }

    .shape {
        width: 300px;
        height: 250px;
    }
}

/*carousel*/
.carousel {
    width: 100%;
    margin: auto;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    background: none;
    border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}

.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.list {
    padding: 20px;
    background: #023768;
}

/*About Us*/
.about {
    padding: 15px;
}
.left .one,
.right .two,
.right .three {
    text-align: center;
    background: rgba(217, 217, 217, 0.22);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.left h1,
.two h1 {
    background: #023768;
    font-size: 25px;
}
.two h4 {
    font-size: 18px;
}

.right .two h4 {
    text-align: left;
    padding-inline: 25px;
}
.two {
    margin-bottom: 40px;
}
.right i {
    font-size: 2rem;
}
.three iframe {
    width: 100%;
}
/*android*/
@media only screen and (max-width: 600px) {
    .left h1,
    .two h1,
    .three h1 {
        font-size: 0.5rem;
    }
    .left {
        padding-inline: 0%;
    }
    .right {
        padding-inline: 0%;
    }

    .left p {
        padding-inline: 0%;
    }
    .left hr {
        display: none;
    }
    .right .two h4 {
        padding: 5px;
        font-size: 0.7rem;
    }
    .two {
        margin-bottom: 15px;
    }
    .right i {
        font-size: 0.8rem;
    }
    .three iframe {
        padding: 8px;
        height: auto;
    }
    .left p {
        font-size: 0.4rem;
    }
    .carousel-item img {
        height: 200px;
        object-fit: cover;
    }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .about {
        padding: 25px;
    }
    .left h1,
    .two h1,
    .three h1 {
        font-size: 1.4rem;
    }
    .left hr {
        padding: 18px;
    }
    .right .two h4 {
        padding: 14px;
        font-size: 1rem;
    }
    .two {
        margin-bottom: 25px;
    }
    .right i {
        font-size: 1.3rem;
    }
    .three iframe {
        padding: 12px;
        height: auto;
    }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .about {
        padding: 35px;
    }
    .left h1,
    .two h1,
    .three h1 {
        font-size: 1.8rem;
    }

    .right .two h4 {
        padding: 18px;
        font-size: 1.6rem;
    }
    .two {
        margin-bottom: 35px;
    }
    .right i {
        font-size: 1.7rem;
    }
    .three iframe {
        padding: 16px;
        height: auto;
    }
}
.ulasan h1 {
    font-size: 23px;
    background-color: #1f6e8c;
}
.chat-bubble {
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    max-width: 100%; /* Ensure it doesn't overflow */
    word-wrap: break-word;
    font-size: 15px; /* Break long words */
}
.chat-bubble.user {
    background-color: #b9bbbe80;
    width: max-content; /* Allow it to adjust based on content */
}
.chat-bubble.admin {
    background-color: #b9bbbe80;
    width: max-content;
    /* Allow it to adjust based on content */
}
@media (max-width: 600px) {
    /* For small devices */
    .chat-bubble {
        padding: 6;
    }
    .chat-bubble h6 {
        font-size: 8px;
    }
    .chat-bubble p {
        font-size: 8px;
    }
}

/*Informasi/Kontak(footer)*/
footer {
    padding: 1.5rem;
    background: #023768;
}
.footer h2 {
    text-align: left;
    color: #fff;
}
.footer h5 {
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
}
.footer .icon {
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
}
/*kiri*/
.kiri {
    margin-left: 1rem;
}
.kiri .in {
    display: grid;
}
.in i {
    font-size: 2rem;
    margin-right: 1.5rem;
}
/*kanan*/
.kanan {
    margin-right: 1rem;
}
.kanan .in {
    display: flex;
    justify-content: space-around;
}
.kanan a {
    color: #fff;
}

.copyright {
    padding: 15px;
}
