body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A9FF;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-nav .nav-item a:hover { 
  background: #77C8FE;
}

.navbar-nav .nav-item a {
  color: #fff;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}
/* Untuk header */
@media (min-width: 768px) {
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar-nav .nav-item a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .text-light h2 {
    margin-left: 20px;
    width: auto;
  }

  .text-light h3,
  .text-light h4,
  .text-light p {
    padding-left: 20px;
  }
}



/*Kata Sambutan*/
.hero {
  background-color: #fff;
  padding: 3%;
  position: relative;
}

.scroll img {
  width: 500px;
  height: 400px;
  margin-right: 2%;
  margin-top: 50px;
  object-fit: cover;
  border-radius: 20px;
  clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 35% 100%, 15% 50%);
}

.sambutan {
  height: 500px;
  border-radius: 15px;
  background: #7fd4ff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, ifr));
  grid-gap:10px;
}
.text-light h3 {
  margin-top: 4.5rem;
  text-align: left;
  padding-left: 80px;
  font-size: 50px;  
}

.text-light h4 {
  text-align: left;
  padding-left: 80px;
  font-size: 40px;
  margin-top: 1rem;
}

.text-light p {
  font-size: 26px;
  text-align: left;
  padding-left: 80px;
}
/*android*/
@media only screen and (max-width : 767px){
  .hero{
    padding: 2%;
  }
  .sambutan{
    height: auto;
    margin-top: 10px;
  }
  .scroll{
 display: none;
  }
  .text-light h3, .text-light h4{
    font-size: 25px;
    padding-left: 25px;
    margin-top: 10px;
  }
  .text-light p{
    font-size: 18px;
    padding-left: 30px;
  }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width : 992px){
  .sambutan{
    height: auto;
    margin-top: 1rem;
  }
  .scroll img{
    margin-top: 4rem;
    padding-right: 5rem;
    width: 390px;
    height: 290px;
  }
  .text-light h3, .text-light h4{
    font-size: 28px;
  }
  .text-light p{
    font-size: 18px;
  }
}
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .sambutan{
    height: auto;
    margin-top: 1rem;
  }
  .scroll img{
    margin-top: 4rem;
    padding-right: 3rem;
    width: 400px;
    height: 300px;
  }
  .text-light h3, .text-light h4{
    font-size: 35px;
  }
  .text-light p{
    font-size: 22px;
  }
}




/* CSS untuk person section */
.person {
  background-image: url(/img/murid.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, ifr));
  grid-gap:10px;
}

.list {
  height: 40px;
  background: linear-gradient(90deg, #00a9ff 0%, #e6e8ff 100%);
}
.person .col{
  flex-wrap: wrap;
}
.person img{
  width: 100%;
  height: auto;
}
.hero1 h2{
  font-size: 40px;
}
.hero1 h3{
  font-size: 30px;
}
.hero1 p{
  font-size: 20px;
}
.hero1 {
  padding-left: 100px;
  margin-top: 60px;
  font-weight: bold;
  text-align: left;
}
/*android*/
@media only screen and (max-width : 767px){
  .hero1 {
    padding-left: 0.7rem;
    margin-top: 0.7rem;
  }
  .hero1 h2{
    font-size: 1.2rem;
  }
  .hero1 h3{
    font-size: 1rem;
  }
  .hero1 p{
    font-size: 0.7rem;
  }
  .person img{
    display: none;
  }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width : 992px){
  .hero1 {
    padding-left: 1rem;
    margin-top: 1.5rem;
  }
  .hero1 h2{
    font-size: 1.8rem;
  }
  .hero1 h3{
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .hero1 p{
    font-size: 0.85rem;
  }
  .person img{
    width: 18rem;
    height: auto;
    margin-top: 2rem;
  }
}
/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .hero1 {
    padding-left: 1rem;
    margin-top: 1.5rem;
  }
  .hero1 h2{
    font-size: 2.2rem;
  }
  .hero1 h3{
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .hero1 p{
    font-size: 1rem;
  }
  .person img{
    width: 20rem;
    height: auto;
    margin-top: 2rem;
  }
}


/* Berita*/
.latar {
  background-color: #fff;
}

.berita {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, ifr));
  grid-gap:10px;
}

.berita h1 {
  padding-left: 15px;
  text-decoration: underline;
  font-weight: bold;
  padding: 30px;
}

.berita h2 {
  font-weight: bold;
}

.berita h3 {
  font-size: 18px;
}

.news {
  background: #89CFF3;
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-content: space-between;
  color: #fff;
}

.news img {
  width: 30%;
  height: auto;
  float: left;
  margin-left: 20px;
}
/*android*/
@media only screen and (max-width : 767px){
  .berita h1{
    font-size: 20px;
  }
  .berita h2{
    font-size: 20px;
  }
  .berita h3{
    font-size: 18px;
  }
  .news img{
    margin-left: 10px;
    height: auto;
  }
  .news a{
    font-size: 1rem;
  }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width : 992px){
  .berita h1{
    font-size: 28px;
  }
  .berita h2{
    font-size: 29px;
  }
  .berita h3{
    font-size: 26px;
  }
  .news img{
    height: auto;
  }
  .news a{
    font-size: 1.3rem;
  }
}

/*Informasi/Kontak(footer)*/
footer {
  background-color: #00A9FF;
}

.kontak {
  margin: 30px;
}

.box {
  background: rgba(217, 217, 217, 0.25);
  padding: 15px;
  color: #fff;
}

.box .tautan {
  display: flex;
}

.tautan .link {
  padding-right: 50px;
}

.box .sosmed {
  margin-bottom: 30px;
}

.up .info {
  text-align: left;
  display: flex;
}

.up h2 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline black;
}

.up h4 {
  font-size: 30px;
}

.icon {
  margin-bottom: 58px;
  font-size: 3.5rem;
}

/*android*/
@media only screen and (max-width : 767px) {
  .up h2 {
      font-size: 25px;
  }

  .up h4 {
      font-size: 18px;
  }

  .icon {
      font-size: 2.8rem;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .up h2 {
      font-size: 32px;
  }

  .up h4 {
      font-size: 25px;
  }
}
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .up h2 {
    font-size: 35px;
}

.up h4 {
    font-size: 27px;
}
}
/*footer*/
.footer {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.footer i {
  font-size: 4rem;
}

.footer h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.footer .info {
  display: flex;
  flex-direction: row;
}

/*android*/
@media only screen and (max-width : 767px) {
  .footer {
      padding: 10px;
  }

  .footer i {
      font-size: 2.5rem;
  }

  .footer h4 {
      font-size: 15px;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .footer h4 {
      font-size: 15px;
  }

  .footer i {
      font-size: 3rem;
  }

  .footer h4 {
      font-size: 17px;
  }
}
/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .footer h4 {
    font-size: 15px;
}

.footer i {
    font-size: 3.5rem;
}

.footer h4 {
    font-size: 17px;
}
}