body {
    margin: 0;

    background-color: #ddd9d9; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #023768;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
    background: #2d5d7d;
}

.navbar-nav .nav-item a {
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar-nav .nav-item a {
        font-size: 20px;
        padding: 5px 8px;
    }

    .text-light h2 {
        margin-left: 20px;
        width: auto;
    }

    .text-light h3,
    .text-light h4,
    .text-light p {
        padding-left: 20px;
    }

    .shape {
        width: 300px;
        height: 250px;
    }
}

/*Kata Sambutan*/
.hero {
    position: relative;
    padding: 2%;
    background-color: #ddd9d9;
}

.scroll img {
    width: 500px;
    height: 400px;
    margin-right: 2%;
    margin-top: 50px;
    object-fit: cover;
    border-radius: 20px;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 35% 100%, 15% 50%);
}

.sambutan {
    margin-top: 20px;
    height: 500px;
    border-radius: 15px;
    background: #1f6e8c;
}
.text-light h3 {
    margin-top: 4.5rem;
    text-align: left;
    padding-left: 80px;
    font-size: 50px;
}

.text-light h4 {
    text-align: left;
    padding-left: 80px;
    font-size: 40px;
    margin-top: 1rem;
}

.text-light p {
    font-size: 26px;
    text-align: left;
    padding-left: 80px;
}
/*android*/
@media only screen and (max-width: 767px) {
    .hero {
        padding: 1%;
    }
    .sambutan {
        margin-top: 0;
        height: auto;
        padding: 15px;
    }
    .scroll {
        display: none;
    }
    .text-light h3 {
        font-size: 25px;
        padding-left: 25px;
        margin-top: 1rem;
    }
    .text-light h4 {
        font-size: 20px;
        padding-left: 25px;
    }
    .text-light p {
        font-size: 19px;
        padding-left: 25px;
    }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero {
        padding: 3%;
    }
    .sambutan {
        margin-top: 0;
        padding: 18px;
        height: auto;
    }
    .scroll img {
        padding-right: 6rem;
        width: 390px;
        height: 290px;
    }
    .text-light h3 {
        margin-top: 3rem;
        padding-left: 50px;
        font-size: 30px;
    }
    .text-light h4 {
        padding-left: 50px;
        font-size: 25px;
    }
    .text-light p {
        font-size: 22px;
        padding-left: 50px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .hero {
        padding: 3%;
    }
    .sambutan {
        margin-top: 1.4rem;
        height: auto;
        padding: 21px;
    }
    .scroll img {
        padding-right: 3rem;
        width: 400px;
        height: 300px;
    }
    .text-light h3 {
        margin-top: 3.5rem;
        font-size: 35px;
        padding-left: 60px;
    }
    .text-light h4 {
        font-size: 30px;
        padding-left: 60px;
    }
    .text-light p {
        font-size: 25px;
        padding-left: 60px;
    }
}

/* CSS untuk person section */
.person {
    background-image: url(/img/murid.jpg);
    background-size: cover;
}

.list {
    height: 40px;
    background: linear-gradient(90deg, #023768 0%, #03529b 57.5%, #c9e1f7 100%);
}
.person .col {
    flex-wrap: wrap;
}
.person img {
    position: relative;
    width: 100%;
    height: auto;
}
.hero1 p {
    font-size: 20px;
}
.hero1 {
    padding-left: 50px;
    margin: 5rem;
    color: #fff;
    text-align: left;
}
/*android*/
/* /android/ */
@media only screen and (max-width: 767px) {
    .hero1 {
        margin: 1.5rem;
        padding-left: 0.7rem;
    }
    .hero1 h2 {
        font-size: 1rem;
    }
    .hero1 h3 {
        font-size: 0.9rem;
    }
    .hero1 p {
        font-size: 0.8rem;
    }
    .person img {
        display: none;
    }
}
/* /android landscape dan tablet/ */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero1 {
        margin: 2.5rem;
        padding-left: 1rem;
    }
    .hero1 h2 {
        font-size: 1.4rem;
    }
    .hero1 h3 {
        font-size: 1.2rem;
    }
    .hero1 p {
        font-size: 0.9rem;
    }
    .person img {
        width: 21.5rem;
        height: auto;
    }
}
/* /dekstop/ */
@media only screen and (min-width: 993px) and (max-width: 1300px) {
    .hero1 {
        padding-left: 1rem;
        margin: 3rem;
    }
    .hero1 h2 {
        font-size: 1.8rem;
    }
    .hero1 h3 {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    .hero1 p {
        font-size: 1.2rem;
    }
    .person img {
        width: 26rem;
        height: auto;
    }
}
/* Berita*/
  .latar {
    background-color: #ddd9d9;
}

.berita {
    padding-bottom: 30px;
}

.berita h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 30px;
}
.berita h3 {
    font-weight: bold;
    font-size: 20px;
}
.news .other {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.news {
    margin-bottom: 40px;
    color: black;
    text-align: left;
}

.news img {
    width: 50%;
    height: 15rem;
    float: left;
    border-radius: 5px;
}
/*android*/
@media only screen and (max-width: 767px) {
    .berita h1 {
        font-size: 20px;
    }
    .berita h2 {
        font-size: 20px;
    }
    .berita h3 {
        font-size: 15px;
    }
    .news img {
        margin-left: 10px;
        height: auto;
    }
    .news a {
        font-size: 1rem;
    }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .berita h1 {
        font-size: 28px;
    }
    .berita h2 {
        font-size: 29px;
    }
    .berita h3 {
        font-size: 26px;
    }
    .news img {
        height: auto;
    }
    .news a {
        font-size: 1.3rem;
    }
}

/*Informasi/Kontak(footer)*/
footer {
    padding: 1.5rem;
    background: #023768;
}
.footer h2 {
    text-align: left;
    color: #fff;
}
.footer h5 {
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
}
.footer .icon {
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
}
/*kiri*/
.kiri {
    margin-left: 1rem;
}
.kiri .in {
    display: grid;
}
.in i {
    font-size: 2rem;
    margin-right: 1.5rem;
}
/*kanan*/
.kanan {
    margin-right: 1rem;
}
.kanan .in {
    display: flex;
    justify-content: space-around;
}
.kanan a {
    color: #fff;
}

.copyright {
    padding: 15px;
}
