body {
    margin: 0;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00a9ff;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
    background: #77c8fe;
}

.navbar-nav .nav-item a {
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}
/* Untuk header */
@media (max-width: 768px) {
    .logo img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar-nav .nav-item a {
        font-size: 14px;
        padding: 5px 8px;
    }

    .text-light h2 {
        margin-left: 20px;
        width: auto;
    }

    .text-light h3,
    .text-light h4,
    .text-light p {
        
        padding-left: 20px;
    }
}

/*tampilan awal*/
.hero {
    background-color: #fff;
}

.hero h1 {
    text-align: center;
    padding: 20px;
    font-size: 65px;
}

.gambar img {
    padding: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list {
    padding: 20px;
    background: linear-gradient(90deg, #00a9ff 0%, #e6e8ff 100%);
    margin-top: 3rem;
}

/*android*/
@media only screen and (max-width: 767px) {
    .hero h1 {
        font-size: 1.5rem;
        padding: 5px;
    }

    .gambar img {
        height: auto;
    }

    .list {
        padding: 10px;
        margin-top: 1rem;
    }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero h1 {
        font-size: 2rem;
        padding: 9px;
    }

    .gambar img {
        height: auto;
    }

    .list {
        padding: 15px;
        margin-top: 1.5rem;
    }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width: 1300px) {
    .hero h1 {
        font-size: 2.7rem;
        padding: 13px;
    }

    .gambar img {
        height: auto;
    }

    .list {
        padding: 18px;
        margin-top: 2rem;
    }
}

/*Tampilan isi berita*/
.news {
    background-color: #fff;
    padding: 30px;
    width: max-content;
    height: auto;
}

.news h2 {
    text-align: center;
    font-weight: bold;
}
.news img {
    width: 600px;
    height: 400px;
}

.news h6 {
    font-weight: bold;
}

.news p {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

/*android*/
@media only screen and (max-width: 767px) {
    .news {
        padding: 8px;
    }

    .news h1 {
        font-size: 1.5rem;
    }

    .news h2 {
        font-size: 1.15rem;
    }

    .news p {
        font-size: 1.2rem;
        padding: 3px;
    }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .news {
        padding: 12px;
    }

    .news h1 {
        font-size: 2rem;
    }

    .news img {
        height: auto;
    }

    .news h2 {
        font-size: 1.5rem;
    }

    .news p {
        font-size: 1.5rem;
        padding: 5px;
    }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .news {
        padding: 16px;
    }

    .news h1 {
        font-size: 2.5rem;
    }

    .news img {
        height: auto;
    }

    .news h2 {
        font-size: 1.8rem;
    }

    .news p {
        text-align: left;
        font-size: 1.8rem;
        padding: 7px;
    }
}

/* /Informasi/Kontak(footer)/ */
/* /Informasi/Kontak(footer)/ */
footer {
    background-color: #00a9ff;
}

.kontak {
    margin: 20px;
}
.kontak a {
    color: white;
}

.box {
    background: rgba(217, 217, 217, 0.25);
    padding: 15px;
    color: #fff;
}

.tautan h6 {
    font-size: 1.3rem;
}
.tautan a {
    color: #fff;
    text-decoration: none;
}
.tautan a:hover {
    color: blue;
    text-decoration: underline;
}
.box .tautan {
    display: flex;
}

.tautan .link {
    margin: 12px;
}

.box .sosmed {
    margin-bottom: 10px;
}

.up .info {
    text-align: left;
    display: flex;
}

.up h2 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline black;
}

.icon {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4.2rem;
    margin-bottom: 20px;
}
.garis {
    margin-top: 3rem;
}
/* /android/ */
@media only screen and (max-width: 767px) {
    .kontak {
        margin: 10px;
    }
    .up h2 {
        font-size: 25px;
    }
    .box {
        padding: 5px;
    }
    .up h4 {
        font-size: 15px;
    }
    .icon {
        font-size: 2.4rem;
    }
    .tautan h6 {
        font-size: 0.7rem;
    }
    .tautan .link {
        padding: 2px;
    }
}

/* /android landscape dan tablet landscape/ */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .kontak {
        margin: 15px;
    }
    .up h2 {
        font-size: 28px;
    }
    .box {
        padding: 0.5rem;
    }
    .up h4 {
        font-size: 18px;
    }
    .icon {
        font-size: 2.8rem;
    }
    .tautan h6 {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .kontak {
        margin: 17px;
    }
    .up h2 {
        font-size: 30px;
    }
    .box {
        padding: 0.9rem;
    }
    .up h4 {
        font-size: 18px;
    }
    .icon {
        font-size: 3.5rem;
    }
    .tautan h6 {
        font-size: 1rem;
    }
}

/* /footer/ */
.footer {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.footer i {
    font-size: 3rem;
}

.footer h4 {
    font-size: 12px;
    color: #fff;
    text-align: left;
    margin-top: 10px;
}

.footer .info {
    display: flex;
    flex-direction: row;
}

.info .garis1 {
    margin-left: 11rem;
}

.info .garis2 {
    margin-left: 3rem;
}

/* /android/ */
@media only screen and (max-width: 767px) {
    .footer {
        padding: 10px;
    }

    .footer i {
        font-size: 2.3rem;
    }

    .footer h4 {
        font-size: 15px;
    }

    .info .garis1,
    .info .garis2 {
        display: none;
    }
    .copyright div {
        font-size: 10px;
    }
}

/* /android landscape dan tablet landscape/ */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .footer {
        padding: 13px;
    }

    .footer h4 {
        font-size: 5px;
    }

    .footer i {
        font-size: 2.8rem;
    }

    .footer h4 {
        font-size: 20px;
    }

    .info .garis1,
    .info .garis2 {
        display: none;
    }
}

/* /dekstop/ */
@media only screen and (min-width: 993px) and (max-width: 1195px) {
    .footer {
        padding: 15px;
    }

    .footer h4 {
        font-size: 15px;
    }

    .footer i {
        font-size: 3.3rem;
    }

    .footer h4 {
        font-size: 17px;
    }

    .info .garis1 {
        margin-left: 6rem;
    }

    .info .garis2 {
        margin-left: 1rem;
    }
}
