body {
    margin: 0;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800; /* Ubah warna latar belakang body */
  }
  
  /* CSS untuk header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00A9FF;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar-nav .nav-item a:hover { 
    background: #77C8FE;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
  }
  
  .navbar-nav .nav-item a {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
  }
  
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  
  /* Untuk header */
  @media (max-width: 768px) {
    .logo img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .navbar-nav .nav-item a {
      font-size: 14px;
      padding: 5px 8px;
    }
  
    .text-light h2 {
      margin-left: 20px;
      width: auto;
    }
  
    .text-light h3,
    .text-light h4,
    .text-light p {
      padding-left: 20px;
    }
  
    .shape {
      width: 300px;
      height: 250px;
    }
  }


/*tampilan awal*/
.hero {
    background-color: #fff;
}

.hero h1 {
    text-align: center;
    padding: 20px;
    font-size: 65px;
}

.gambar img {
    background-size: cover;
    width: 300px;
}

.list {
    padding: 20px;
    background: linear-gradient(90deg, #00a9ff 0%, #e6e8ff 100%);
}

/*data sekolah*/
.data {
    background-color: #fff;
    padding: 30px;
}

/*kiri*/
.kiri {
    padding: 20px;
}

.kiri .satu {
    text-align: center;
    background-color: #fff;
 
    margin-bottom: 30px;
}

.satu h2 {
    background: #00A9FF;
    color: #fff;
    padding: 5px;
    text-align: left;
}

.satu h4 {
    text-align: left;

    padding: 10px;
}

.satu img {
    width: 300px;
    height: 300px;
}

.kiri .dua {
    text-align: center;
    background: rgba(255, 255, 255, 0.22);

}

.dua h1 {
    background: #D9D9D9;
}

.dua a{
    text-decoration: none;
    color: rgb(70, 45, 139);
}

/*kanan*/
.kanan {
    padding: 20px;
}

.kanan .one {
    text-align: center;
    background: #FFFFFF;
   
    margin-bottom: 30px;
}

.kanan h1 {
    background: #00A9FF;
    color: #fff;
}

.kanan h3 {
    padding-left: 30px;
    text-align: left;
}

.kanan .two {
    text-align: center;
    background: #FFFFFF;
   
    margin-bottom: 30px;
}

.kanan .three {
    text-align: center;
    background: #FFFFFF;
   
    margin-bottom: 30px;
}

.three h6 {
    padding: 15px;
    background: #FFFFFF;
   

}

.kanan .four {
    text-align: center;
    background: #FFFFFF;
    

}

.four h6 {
    padding: 15px;
    background: #FFFFFF;
  
}

.kanan .total {
    padding: 50px;
}





/*Informasi/Kontak(footer)*/
footer{
    background: #0496c7;
  }
  .kontak {
    margin: 30px;
  }
  
  .box {
    background: rgba(217, 217, 217, 0.25);
    padding: 15px;
    color: #fff;
  }
  .box .tautan{
    display: flex;
  }
  .tautan .link {
    padding-right: 50px;
  }
  .box .sosmed{
    margin-bottom: 30px;
  }
  .up .info {
    text-align: left;
    display: flex;
  }
  
  .up h2 {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline rgb(132, 138, 155);
  }
  
  .up h4 {
    font-size: 30px;
  }
  
  .icon {
    margin-bottom: 58px;
    font-size: 3.5rem;
  }
  @media screen and (max-width : 576px){
    .up h2{
      font-size: 25px;
    }
    .up h4{
      font-size: 18px;
    }
    .icon{
      font-size: 2.8rem;
    }
  }
  
  /*footer*/
  .footer {
  
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }
  .footer i{
    font-size: 4rem;
  }
  .footer h4 {
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-top: 10px;
  }
  .footer .info{
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width : 576px){
    .footer i{
      font-size: 2rem;
    }
    .footer h4{
      font-size: 15px;
    }
  }