body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A9FF;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-nav .nav-item a:hover { 
  background: #77C8FE;
}

.navbar-nav .nav-item a {
  color: #fff;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}
/* Untuk header */
@media (min-width: 768px) {
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar-nav .nav-item a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .text-light h2 {
    margin-left: 20px;
    width: auto;
  }

  .text-light h3,
  .text-light h4,
  .text-light p {
    padding-left: 20px;
  }
}

/*tampilan awal*/
.hero {
  background-color: #fff;
}

.hero h1 {
  text-align: center;
  padding: 20px;
  font-size: 65px;
}

.gambar img {
  background-size: cover;
  width: 100%;
  height: auto;
}

.list {
  padding: 20px;
  background: linear-gradient(90deg, #00a9ff 0%, #e6e8ff 100%);
}

/*android*/
@media only screen and (max-width : 767px) {
  .hero h1 {
      font-size: 1.5rem;
      padding: 3px;
  }

  .gambar img {
      height: auto;
  }

  .list {
      padding: 10px;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .hero h1 {
      font-size: 2.2rem;
      padding: 5px;
  }

  .list {
      padding: 15px;
  }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px) {
  .hero h1 {
      font-size: 3rem;
      padding: 7px;
  }

  .list {
      padding: 20px;
  }
}


/*data sekolah*/
.data {
  background-color: #fff;
  padding: 30px;
}

/*kiri*/
.kiri {
  padding: 20px;
}

.kiri .satu {
  text-align: center;
  background: rgba(217, 217, 217, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.satu i {
  font-size: 2rem;
}

.satu h2 {
  background: #00A9FF;
  color: #fff;
  padding: 5px;
  text-align: left;
}

.satu h4 {
  text-align: left;
  background-color: #fff;
  padding: 10px;
}

.satu img {
  width: 50%;
  height: auto;
}

.kiri .dua {
  text-align: center;
  background: rgba(217, 217, 217, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dua h1 {
  background: #D9D9D9;
}

.dua hr {
  padding: 30px;
}

/*android*/
@media only screen and (max-width : 767px) {
  .kiri {
      padding: 10px;
  }

  .kiri .satu {
      margin-bottom: 10px;
  }

  .satu i {
      font-size: 0.8rem;
  }

  .satu h2 {
      font-size: 1rem;
  }

  .satu h4 {
      font-size: 0.51rem;
      padding: 5px;
  }

  .satu img {
      height: auto;
  }

  .dua h1 {
      font-size: 1rem;
  }

  .dua hr {
      padding: 10px;
  }
}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .kiri {
      padding: 15px;
  }

  .kiri .satu {
      margin-bottom: 15px;
  }

  .satu i {
      font-size: 1.2rem;
  }

  .satu h2 {
      font-size: 1.5rem;
  }

  .satu h4 {
      font-size: 1.14rem;
      padding: 10px;
  }

  .dua h1 {
      font-size: 1.5rem;
  }

  .dua hr {
      padding: 15px;
  }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px) {
  .kiri {
      padding: 17px;
  }

  .kiri .satu {
      margin-bottom: 17px;
  }

  .satu i {
      font-size: 1.5rem;
  }

  .satu h2 {
      font-size: 1.7rem;
  }

  .satu h4 {
      font-size: 1.19rem;
      padding: 10px;
  }

  .dua h1 {
      font-size: 1.7rem;
  }

  .dua hr {
      padding: 19px;
  }
}

/*kanan*/
.kanan {
  padding: 20px;
}

.kanan .one {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.kanan h1 {
  background: #00A9FF;
  color: #fff;
}

.kanan h3 {
  padding-left: 30px;
  text-align: left;
}

.kanan .two {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.kanan .three {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.three h6 {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.kanan .four {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);

}

.four h6 {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kanan .total {
  padding: 50px;
}

/*android*/
@media only screen and (max-width : 767px) {
  .kanan {
      padding: 10px;
  }

  .kanan .one,
  .kanan .two,
  .kanan .three {
      margin-bottom: 10px;
  }

  .kanan h1 {
      font-size: 1rem;
      padding: 5px;
  }

  .kanan h3 {
      font-size: 0.7rem;
      padding-left: 10px;
  }

  .four h6,
  .three h6 {
      font-size: 0.5rem;
      padding: 5px;
  }

  .kanan .total {
      padding: 10px;
  }

}

/*android landscape dan tablet landscape*/
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .kanan {
      padding: 15px;
  }

  .kanan .one,
  .kanan .two,
  .kanan .three {
      margin-bottom: 15px;
  }

  .kanan h1 {
      font-size: 1.5rem;
      padding: 10px;
  }

  .kanan h3 {
      font-size: 1.5rem;
      padding-left: 15px;
  }

  .four h6,
  .three h6 {
      font-size: 1rem;
      padding: 10px;
  }

  .kanan .total {
      padding: 15px;
  }
}

/*dekstop*/
@media only screen and (min-width: 993px) and (max-width : 1200px) {
  .kanan {
      padding: 17px;
  }

  .kanan .one,
  .kanan .two,
  .kanan .three {
      margin-bottom: 17px;
  }

  .kanan h1 {
      font-size: 1.8rem;
      padding: 10px;
  }

  .kanan h3 {
      font-size: 1.7rem;
      padding-left: 15px;
  }

  .four h6,
  .three h6 {
      font-size: 1.2rem;
      padding: 10px;
  }

  .kanan .total {
      padding: 17px;
  }
}


/* /Informasi/Kontak(footer)/ */
footer {
  background-color: #00A9FF;
}

.kontak {
  margin: 30px;
}

.box {
  background: rgba(217, 217, 217, 0.25);
  padding: 15px;
  color: #fff;
}
.tautan h6{
  font-size: 1.7rem;
}
.box .tautan {
  display: flex;
}

.tautan .link {
  padding-right: 50px;
}

.box .sosmed {
  margin-bottom: 30px;
}

.up .info {
  text-align: left;
  display: flex;
}

.up h2 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline black;
}

.up h4 {
  font-size: 30px;
}

.icon {
  margin-bottom: 58px;
  font-size: 3.5rem;
}
.box .garis{
  margin-top: 3rem;
}

/* /android/ */
@media only screen and (max-width : 767px) {
  .up h2 {
      font-size: 25px;
  }

  .up h4 {
      font-size: 18px;
  }

  .icon {
      font-size: 2.4rem;
  }
  .tautan h6{
    font-size: 1rem;
  }
}

/* /android landscape dan tablet landscape/ */
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .up h2 {
      font-size: 32px;
  }

  .up h4 {
      font-size: 25px;
  }
  .tautan h6{
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 993px) and (max-width : 1200px){
  .up h2 {
    font-size: 35px;
}

.up h4 {
    font-size: 27px;
}
.icon {
  font-size: 2.4rem;
}
.tautan h6{
  font-size: 1.4rem;
}
}
/* /footer/ */
.footer {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.footer i {
  font-size: 4rem;
}

.footer h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.footer .info {
  display: flex;
  flex-direction: row;
}
.info .garis1{
  margin-left: 12.2rem;
}
.info .garis2{
  margin-left: 3rem;
}

/* /android/ */
@media only screen and (max-width : 767px) {
  .footer {
      padding: 10px;
  }

  .footer i {
      font-size: 2.5rem;
  }

  .footer h4 {
      font-size: 15px;
  }
  .info .garis1, .info .garis2{
    display: none;
  }
}

/* /android landscape dan tablet landscape/ */
@media only screen and (min-width: 768px) and (max-width : 992px) {
  .footer {
    padding: 13px;
}
  .footer h4 {
      font-size: 15px;
  }

  .footer i {
      font-size: 3rem;
  }

  .footer h4 {
      font-size: 17px;
  }
  .info .garis1, .info .garis2{
    display: none;
  }
}
/* /dekstop/ */
@media only screen and (min-width: 993px) and (max-width : 1195px){
  .footer {
    padding: 15px;
}
  .footer h4 {
    font-size: 15px;
}

.footer i {
    font-size: 3.7rem;
}

.footer h4 {
    font-size: 17px;
}
.info .garis1{
  margin-left: 6rem;
}
.info .garis2{
  margin-left: 1rem;
}
}
