body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #b3b3b3; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #023768;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-nav .nav-item a:hover {
    background: #2d5d7d;
}

.navbar-nav .nav-item a {
    color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar-nav .nav-item a {
        font-size: 20px;
        padding: 5px 8px;
    }

    .text-light h2 {
        margin-left: 20px;
        width: auto;
    }

    .text-light h3,
    .text-light h4,
    .text-light p {
        padding-left: 20px;
    }

    .shape {
        width: 300px;
        height: 250px;
    }
}

/* untuk galeri */

.kalimat h2,
.kalimat h3 {
    font-size: 35px;
}
.kalimat .word {
    background: #26beff;
    color: #fff;
}
.kalimat .text {
    text-align: left;
    background: #1f6e8c;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
.all {
    padding: 20px;
}
.isi h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.733);
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    font-size: 40px;
    background-color: #b3b3b3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.foto img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.foto img:hover {
    cursor: pointer;
    filter: brightness(50%);
}

#thumbnail {
    cursor: pointer;
    transition: 0.3s;
}

#thumbnail:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;

    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .tampilan {
        height: 300px;
    }
    .kalimat h2,
    .kalimat h3 {
        font-size: 18px;
    }
    .all {
        padding: 20px;
    }
    .isi h1 {
        margin: 40px;
        font-size: 30px;
    }
    .foto img {
        height: 15rem;
    }
    .modal {
        padding-top: 15rem;
    }
    .modal-content {
        max-width: 350px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .tampilan {
        height: 400px;
    }
    .kalimat h2,
    .kalimat h3 {
        font-size: 23px;
    }
    .all {
        padding: 30px;
    }
    .isi h1 {
        margin: 30px;
        font-size: 45px;
    }
    .foto img {
        height: 23rem;
    }
    .modal {
        padding-top: 20rem;
    }
    .modal-content {
        max-width: 600px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .tampilan {
        height: 550px;
    }
    .kalimat h2,
    .kalimat h3 {
        font-size: 27px;
    }
    .all {
        padding: 5px;
    }
    .isi h1 {
        font-size: 60px;
    }
    .modal-content {
        max-width: 600px;
    }
}

/*Informasi/Kontak(footer)*/
footer {
    padding: 1.5rem;
    background: #023768;
}
.footer h2 {
    text-align: left;
    color: #fff;
}
.footer h5 {
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
}
.footer .icon {
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
}
/*kiri*/
.kiri {
    margin-left: 1rem;
}
.kiri .in {
    display: grid;
}
.in i {
    font-size: 2rem;
    margin-right: 1.5rem;
}
/*kanan*/
.kanan {
    margin-right: 1rem;
}
.kanan .in {
    display: flex;
    justify-content: space-around;
}
.kanan a {
    color: #fff;
}

.copyright {
    padding: 15px;
}
