body {
    margin: 0;
   
    background-color: #ececec; /* Ubah warna latar belakang body */
  }
  
  /* CSS untuk header */
  * {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #023768;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .logo img {
    width: 65px;
    height: 65px;
    margin-right: 20px;
    background: none;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .navbar-nav .nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar-nav .nav-item a:hover {
    background: #2d5d7d;
  }
  
  .navbar-nav .nav-item a {
    color: #fff;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  @media (max-width: 900px) {
    .logo img {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .navbar-nav .nav-item a {
      font-size: 20px;
      padding: 5px 8px;
    }
  
    .text-light h2 {
      margin-left: 20px;
      width: auto;
    }
  
    .text-light h3,
    .text-light h4,
    .text-light p {
      padding-left: 20px;
    }
  
    .shape {
      width: 300px;
      height: 250px;
    }
  }
  

/*tampilan awal*/


/*android landscape dan tablet*/


/*visi & misi*/
.kedua {
    background-color: #fff;
    padding: 80px;
}

.isi {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.isi .visi {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 80px;
    max-width: 1200px;
    /* Diganti menjadi max-width agar lebih responsif */
    position: relative;
    /* Tambahkan position: relative untuk container */
}

.visi .judul {
    background: linear-gradient(90deg, #1F6E8C 0%, #081E26 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px;
    width: 24rem;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.visi h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.judul h1 {
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.733);
}

.isi .misi {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 80px;
    max-width: 1200px;

    /* Diganti menjadi max-width agar lebih responsif */
    position: relative;
    /* Tambahkan position: relative untuk container */
}

.misi .judul {
    background: linear-gradient(90deg, #1F6E8C 0%, #081E26 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 20px;
    width: 24rem;
    top: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.misi h4 {
    color: black;
    text-align: left;
}

/*android*/
@media only screen and (max-width: 600px) {
    .kedua {
        padding: 30px;
    }

    .isi .visi {
        margin-bottom: 50px;
        padding: 30px;
    }

    .visi .judul {
        padding: 4px;
        width: 9rem;
        top: -2%;
        left: 50%;
    }

    .visi h4,
    .misi h4 {
        font-size: 12px;
    }

    .judul h1 {
        font-size: 20px;
    }

    .isi .misi {
        padding: 30px;
    }

    .misi .judul {
        padding: 4px;
        width: 9rem;
        top: -1%;
        left: 50%;
        /* Ubah nilai bottom sesuai kebutuhan */
    }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .kedua {
        padding: 50px;
    }

    .isi .visi {
        margin-bottom: 80px;
        padding: 40px;
    }

    .visi .judul {
        padding: 8px;
        width: 15rem;
        top: -2%;
        left: 50%;
    }

    .visi h4,
    .misi h4 {
        font-size: 15px;
    }

    .judul h1 {
        font-size: 25px;
    }

    .isi .misi {
        padding: 40px;
    }

    .misi .judul {
        padding: 8px;
        width: 15rem;
        top: -1%;
        left: 50%;
        /* Ubah nilai bottom sesuai kebutuhan */
    }
}
@media only screen and (min-width: 993px) and (max-width: 1300px) {
    .kedua {
        padding: 70px;
    }

    .isi .visi {
        margin-bottom: 80px;
        padding: 50px;
    }

    .visi .judul {
        padding: 12px;
        width: 20rem;
        top: -2%;
        left: 50%;
    }

    .visi h4,
    .misi h4 {
        font-size: 18px;
    }

    .judul h1 {
        font-size: 30px;
    }

    .isi .misi {
        padding: 50px;
    }

    .misi .judul {
        padding: 12px;
        width: 20rem;
        top: -1%;
        left: 50%;
    }
}
/* Ubah nilai bottom sesuai kebutuhan */
/*dekstop*/

 /*Informasi/Kontak(footer)*/
 footer{
    padding: 1.5rem;
    background: #023768;
  }
  .footer h2{
    text-align: left;
    color: #fff;
  }
  .footer h5{
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
  }
  .footer .icon{
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  /*kiri*/
  .kiri{
    margin-left: 1rem;
  }
  .kiri .in{
    display: grid;
  }
  .in i{
    font-size: 2rem;
    margin-right: 1.5rem;
  }
  /*kanan*/
  .kanan{
    margin-right: 1rem;
  }
  .kanan .in{
    display: flex;
    justify-content: space-around;
  }
  .kanan a{
    color: #fff;
  }
  
  .copyright{
    padding: 15px;
  }
  