body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800; /* Ubah warna latar belakang body */
}

/* CSS untuk header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A9FF;
  padding: 10px 20px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  background: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-nav .nav-item a:hover { 
  background: #77C8FE;
}

.navbar-nav .nav-item a {
  color: #fff;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}
/* Untuk header */
@media (min-width: 768px) {
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar-nav .nav-item a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .text-light h2 {
    margin-left: 20px;
    width: auto;
  }

  .text-light h3,
  .text-light h4,
  .text-light p {
    padding-left: 20px;
  }

}



/*tampilan awal*/
.info h1 {
  font-size: 50px;
  color: #fff;
}

.info .first {
  background: linear-gradient(0deg, #7FD4FF, #7FD4FF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  text-align: center;
  padding: 190px;
}

.info .second {
  background-image: url(gambar/visimisi.jpg);
  background-size: cover;
  text-align: center;
}

/*visi & misi*/
.kedua {
  background-color: #fff;
  padding: 80px;
}

.isi {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 90px;
}

.isi .visi {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 80px;
  padding: 70px;
  width: 1200px;
}

.visi .judul {
  background: #00A9F2;
  color: #fff;
  position: absolute;
  padding: 15px;
  width: 400px;
  right: 560px;
  bottom: -70px;
  border-radius: 10px;
}

.visi h4 {
  color: black;
  text-align: center
}

.isi .misi {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 80px;
  width: 1200px;
}

.misi .judul {
  background: #00A9F2;
  color: #fff;
 
  padding: 15px;
  width: 400px;
  right: 560px;
  bottom: -385px;
  border-radius: 10px;
}

.misi h4 {
  color: black;
  text-align: left;
}

/*Informasi/Kontak(footer)*/
footer{
  background-color: #00A9FF;
}
.kontak {
  margin: 30px;
}
.link h6 a{
  text-decoration: none;
 }
.box {
  background: rgba(217, 217, 217, 0.25);
  padding: 15px;
  color: #fff;
}
.box .tautan{
  display: flex;
}
.tautan .link {
  padding-right: 50px;
}
.box .sosmed{
  margin-bottom: 30px;
}
.up .info {
  text-align: left;
  display: flex;
}

.up h2 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline black;
}

.up h4 {
  font-size: 30px;
}

.icon {
  margin-bottom: 58px;
  font-size: 3.5rem;
}

/*android*/
@media only screen and (max-width : 768px){
  .up h2{
    font-size: 25px;
  }
  .up h4{
    font-size: 18px;
  }
  .icon{
    font-size: 2.8rem;
  }
  .link h6 a{
    text-decoration: none;
   }
}
/*android landscape dan tablet*/
@media only screen and (min-width: 767px) and (max-width : 992px){
  .up h2{
    font-size: 32px;
  }
  .up h4{
    font-size: 25px;
  }
}

/*dekstop*/
@media only screen and (min-width : 1300px){
  .up h2{
    font-size: 2.8rem;
  }
  .up h4{
    font-size: 2.3rem;
  }
}
/*footer*/
.footer {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  justify-content:flex-start;
}

.footer i {
  font-size: 4rem;
}

.footer h4 {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
}

.footer .info {
  display: flex;
  flex-direction: row;
}

/*android*/
@media only screen and (max-width : 768px) {
  .footer{
      padding: 10px;
  }
  .footer i {
      font-size: 2.5rem;
  }

  .footer h4 {
      font-size: 15px;
  }
}

/*android landscape dan tablet*/
@media only screen and (min-width: 767px) and (max-width : 992px) {
  .footer h4 {
      font-size: 15px;
  }
  .footer i {
      font-size: 3rem;
  }
  .footer h4 {
      font-size: 17px;
  }
}

/*dekstop*/
@media only screen and (min-width : 1300px) {
  .footer h4 {
      font-size: 20px;
  }
  .footer i {
      font-size: 3.5rem;
  }
}