/*tampilan berita*/
.berita{
    margin-top: 5.6rem;
    background-color: #DDD9D9;  
  }
  .left{
    position: relative;
    overflow: hidden;
  }
  .left img{
    width: 75%;
    height: auto;
  }
  .left p{
    text-align: left;
    font-size: 16px;
  }
  .right{
    display: grid;
  }
  .side {
    margin: 1rem;
    text-align: left;
    display: flex;

  }
  .side img{
    width: 100%;
    height: auto;
  }
  .side .col-5{
    margin-right: 1rem;
  }
  